<p>
  ID:{{ user.id }}
  Name:{{ user.name }}
</p>
<p>
  Address {{ user.address }}
</p>
<p>
  Result {{ sayHi() }}
</p>

<h2>Value of 1: {{ i }}</h2>
<button (click)="addCount()">
  +
</button>
<button (click)="disCount()">
  -
</button>

<p>
  <input type="text" #age>
  <button (click)="readAge(age.value)">Read Age</button>
</p>

<p>
  Name: {{ nameInput }}
</p>

<div *ngIf="validAge; else falseBlock">
  valid data
</div>

<ng-template #falseBlock>
  Invalid data
</ng-template>

<select > 
  <option *ngFor="let m of menus" [value]="m">{{ m }}</option>>
</select>

<p>
  <select name="" id="">
    <option *ngFor="let c of courses" [value]="c.id">
      {{ c.title }}
    </option>
  </select>

</p>